<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
<resultMap type="Notice" id="resultNotice"> <!--  한개의 notice 객체정보이용시 사용 -->
		<id column="noticeno" property="noticeno" />
		<result property="noticetitle" column="noticetitle" />
		<result property="noticedate" column="noticedate" />
		<result property="noticewriter" column="noticewriter" />
		<result property="noticecontent" column="noticecontent" />
		<result property="original_filepath" column="original_filepath" />
		<result property="rename_filepath" column="rename_filepath" />
</resultMap>
	<select id="selectList" resultMap="resultNotice">
		select *
		from notice
		order by noticeno desc	
	</select>
	<select id="selectOne" parameterType="_int" resultMap="resultNotice">
		select * from notice where noticeno = #{noticeno} <!-- 물음표대신 #{} 로 쓴다-->
	</select>
	
	<select id="selectNewTop3" resultMap="resultNotice" >
		<![CDATA[
		select *  
		from (select rownum rnum, noticeno, noticetitle, noticedate 
		from (select * from notice order by noticedate desc )) 
		where rnum>=1 and rnum<=3 ]]>
		<!-- <= 는 꺽쇠아니고 연산자인데! => CDATA를 쓴다  -->
	</select>
	
	<insert id="insertNotice">
		insert into notice 
		<if test="originalFilepath != null">
		values ((select max(noticeno)+1 from notice), #{noticetitle}, sysdate, #{noticewriter}, #{noticecontent},
		 #{original_filepath}, #{rename_filepath})
		</if>
		<if test="originalFilepath == null">
		(noticeno, noticetitle, noticedate, noticewriter, noticecontent)
		values ((select max(noticeno)+1 from notice), #{noticetitle}, sysdate, 
		#{noticewriter}, #{noticecontent}
		</if>
	</insert>
	<update id="updateNotice" parameterType="Notice">
		update notice 
		set noticetitle = #{noticetitle}, 
			noticecontent = #{noticecontent}, 
			noticedate = sysdate 
			<!-- 수정할 값이 반드시 있어야하기 때문에 첨부파일이 없는경우 null이 발생해버림! 
			쉼표부터 ~ 파일경로는 값이 있을떄만 쓰니까 if태그를 써야함 -->
			<if test="originalFilepath != null">
			,
			original_filepath = #{original_filepath}, 
			rename_filepath = #{rename_filepath}
			</if> 
			<if test="originalFilepath == null">
			, original_filepath = null, rename_filepath =null
			</if>
		where noticeno = #{ noticeno }
	</update>
	<delete id="deleteNotice" parameterType="_int">
		delete from notice 
		where noticeno = #{ noticeno }  
	</delete>
</mapper>